<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <button>
      <a href="/new">Add new Message</a>
    </button>
    <h1><%= title %></h1>
      <% for (const message of messages) { %>
        <p>
          <div><%= message.username %></div>
          <div><%= message.message %></div>
          <div><%= message.created_at %></div>
        </p>
      <% } %>
      <p></p>
      <p></p>
  </body>
</html>
